<footer>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span4">
                <ul class="unstyled">
                    <li class="list-header">Sign Up For The Newsletter</li>
                    <li class="group">
                        <div class="newsletter">
                            <form id="newsForm" class="input-group">
                                <input type="text" class="form-control small" placeholder="Email address" name="e_mail_address">
                            </form>
                        </div>
                    </li>
                    <li class="copywright">
                        <span>© 2016 Angular2 Designed</span>
                    </li>
                </ul>
            </div>
            <div class="span4">
                <ul class="unstyled group">
                    <li class="list-header">Follow Us</li>
                    <li class="group">
                        <ul class="unstyled inline social-icons">


                            <li><a class="social" href="http://www.facebok.com/thesailingcollective" target="_blank">
                                <div class="trans social-up fb"></div>
                                <div class="trans social-hover fb-hover"></div>
                            </a></li>



                            <li><a class="social" href="http://instagram.com/thesailingcollective" target="_blank">
                                <div class="trans social-up insta"></div>
                                <div class="trans social-hover insta-hover"></div>
                            </a></li>

                            <li><a class="social" href="https://twitter.com/sailcollective" target="_blank">
                                <div class="trans social-up twit"></div>
                                <div class="trans social-hover twit-hover"></div>
                            </a></li>
                        </ul>
                    </li>

                    <li class="list-header buffer-small">Contact Us</li>
                    <li><a class="trans" href="mailto:info@thesailingcollective.com">280549524@qq.com</a></li>
                    <li>(347) 150-825-54045</li>
                </ul>
            </div>
            <div class="span4">
                <ul class="unstyled">
                    <li><a href="">Home</a></li>
                    <li><a href="">Journeys</a></li>
                    <li><a href="">Galleries</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <!-- <li><a href="#">Blog</a></li>
                    <li><a href="#">Legal</a></li>
                    -->
                </ul>
            </div>
        </div>
    </div>
</footer>
