<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div class="login-content">
            <div class="login-frame">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span class="fs22">用户登录</span>
                    </div>
                </div>
                <hr/>
                <form class="form-horizontal mt20" name="loginForm">
                    <div class="form-group">
                        <label class="control-label col-sm-3">用户名:</label>
                        <div class="col-sm-8">
                            <div class="validate-input-wrap">
                                <input type="text"
                                       class="form-control"
                                       placeholder="请输入您的用户名"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">密码:</label>
                        <div class="col-sm-8">
                            <div class="validate-input-wrap">
                                <input type="password"
                                       class="form-control"
                                       placeholder="请输入您的密码"
                                        />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button type="submit"
                                    class="btn btn-block btn-success"
                                    >登录</button>
                        </div>
                        <div class="col-sm-4">
                        <div class="checkbox ml15 mt10">
                        <input type="checkbox"/>
                         自动登录
                        </div>
                        </div>

                    </div>
                </form>
                <hr/>
            </div>
        </div>
    </div>
</div>
