<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div class="signin-content">
            <div class="login-frame">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span class="fs22">用户注册</span>
                    </div>
                </div>
                <hr/>
                <form class="form-horizontal mt20" name="loginForm">
                    <div class="form-group">
                        <label class="control-label col-sm-3">用户名:</label>
                        <div class="col-sm-8">
                            <div class="validate-input-wrap">
                                <input type="text"
                                       class="form-control"
                                       #name="ngModel"
                                       name="name"
                                       [(ngModel)]="UserInfo.userName"
                                       (ngModelChange)="UserInfo.userName=$event"
                                       (blur)="checkIsExist(UserInfo)"
                                       required
                                       placeholder="请输入您的用户名"/>
                                <div [hidden]="name.valid||name.pristine" class="alert small alert-danger">请输入用户名</div>
                                <div [hidden]="!userExist" class="alert alert-danger">该用户已被注册</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">密码:</label>
                        <div class="col-sm-8">
                            <div class="validate-input-wrap">
                                <input type="password"
                                       class="form-control"
                                       #password="ngModel"
                                       name="password"
                                       [(ngModel)]="UserInfo.password"
                                       (ngModelChange)="UserInfo.password=$event"
                                       required
                                       placeholder="请输入密码"
                                  />
                                <div [hidden]="password.valid||password.pristine" class="alert small alert-danger">请输入密码</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">确认密码:</label>
                        <div class="col-sm-8">
                            <div class="validate-input-wrap">
                                <input type="password"
                                       class="form-control"
                                       name="passwordConfirm"
                                       (keyup)="checkPwd($event)"
                                       required
                                       placeholder="请确认密码"
                                        />
                                <div [hidden]="checkPwdFlag" class="alert small alert-danger">两次密码不一致</div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button type="submit"
                                    class="btn btn-block btn-success"
                                    (click)="signin(UserInfo)"
                                   >注册</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="submit"
                                    (click)="goToLogin()"
                                    class="btn btn-block btn-primary"
                                    >已有账号</button>
                        </div>
                    </div>
                </form>
                <hr/>
            </div>
        </div>
    </div>
</div>
